source https://api.nuget.org/v3/index.json
nuget Nancy.Bootstrappers.Windsor

group test
  source https://api.nuget.org/v3/index.json
  nuget Nancy.Testing

group hosting
  source https://api.nuget.org/v3/index.json
  nuget Nancy.Owin