type file
id A.Source
owners Team
authors Team
projectUrl
    https://github.com/
iconUrl
    http://github.io/
licenseUrl
    https://github.com/
repositoryType
    git
repositoryUrl
    https://github.com/my-org/my-custom-repo
repositoryBranch
	test-branch
repositoryCommit
	e1c65e4524cd70ee6e22abe33e6cb6ec73938cb3
requireLicenseAcceptance
    false
copyright
    Copyright 2015
tags
    tag
summary
    summary
description
    Project has no description
files
   ../A/**/*.cs ==> ./A