os: Visual Studio 2017
init:
  - git config --global core.autocrlf input
build_script:
  - cmd: build.cmd Build DISABLE_NETCORE
test: off
version: 0.0.1.{build}
artifacts:
  - path: bin
    name: bin
