source https://nuget.org/api/v2
cache ./nupkgs versions:current

nuget Newtonsoft.Json redirects: force
nuget Argu
nuget FSharp.Core redirects: force
nuget Chessie
nuget Mono.Cecil

github fsharp/FAKE src/app/FakeLib/Globbing/Globbing.fs
github fsprojects/FSharp.TypeProviders.StarterPack src/AssemblyReader.fs

group Build

  source https://nuget.org/api/v2
  cache ./nupkgs versions:current
  
  nuget FAKE prerelease
  nuget FSharp.Formatting
  nuget ILRepack

  github fsharp/FAKE modules/Octokit/Octokit.fsx

group Test

  source https://nuget.org/api/v2
  cache ./nupkgs versions:current

  nuget Moq
  nuget FSCheck
  
  nuget NUnit
  nuget NUnit.Console

  github forki/FsUnit FsUnit.fs