source http://nuget.org/api/v2

nuget Octokit
nuget Newtonsoft.Json
nuget UnionArgParser
nuget NUnit.Runners >= 2.6
nuget NUnit >= 2.6
nuget FAKE
nuget FSharp.Formatting
nuget DotNetZip ~> 1.9.3
nuget SourceLink.Fake
github forki/FsUnit FsUnit.fs