redirects: off
source https://www.nuget.org/api/v2

nuget Chessie
nuget FSharp.Core redirects: force
nuget MongoDB.Driver
nuget Newtonsoft.Json redirects: force
nuget Rx-Main
nuget ServiceStack ~> 3.9
nuget Autofac ~> 3.5
nuget Common.Logging ~> 2.2.0 redirects: force
nuget Common.Logging.NLog20 ~> 2.2.0 redirects: force
nuget Rhino-Etl
nuget Dapper
nuget EventStore.Client ~> 3.0
nuget FluentScheduler
nuget YamlDotNet
nuget Novell.Directory.Ldap
nuget Neo4jClient
nuget ServiceStack.Api.Swagger ~> 3.9 content: none
nuget BouncyCastle
nuget ServiceStack.Logging.NLog ~> 3.9
nuget NLog redirects: force


group Build

    redirects: off
    source https://nuget.org/api/v2

	nuget FAKE
	nuget FSharp.Formatting


group Test

    redirects: off
    source https://nuget.org/api/v2

	nuget NUnit