source https://www.nuget.org/api/v2/

strategy: min
lowest_matching: true

nuget xunit >= 2.3 prerelease
nuget FakeItEasy
nuget FluentAssertions
nuget Microsoft.NET.Test.Sdk
nuget xunit.extensibility.execution >= 2.3 prerelease
nuget xunit.runner.visualstudio >= 2.3 prerelease
nuget Microsoft.AspNetCore.Mvc.Core
nuget Amazon.Lambda.Core
nuget Amazon.Lambda.Serialization.Json
nuget Amazon.Lambda.APIGatewayEvents
nuget Microsoft.AspNetCore.Server.Kestrel
nuget Microsoft.Extensions.Configuration.EnvironmentVariables
nuget Microsoft.Extensions.Configuration.FileExtensions
nuget Microsoft.Extensions.Configuration.Json
nuget Microsoft.Extensions.Logging
nuget Microsoft.Extensions.Options.ConfigurationExtensions
nuget AWSSDK.S3
nuget AWSSDK.Extensions.NETCore.Setup
nuget Amazon.Lambda.Logging.AspNetCore
nuget Amazon.Lambda.AspNetCoreServer
nuget NETStandard.Library 1.6.0
