<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value="..\..\..\tmp\packages" />
  </config>
  <packageSources>
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
    <add key="TeamCity" value="http://teamcity/httpAuth/app/nuget/v1/FeedService.svc/" />
  </packageSources>
  <packageSourceCredentials>
    <TeamCity>
      <add key="Username" value="somebody" />
      <add key="ClearTextPassword" value="secret" />
    </TeamCity>
  </packageSourceCredentials>
</configuration>