source https://api.nuget.org/v3/index.json

group Roslyn
  storage: none
  source https://api.nuget.org/v3/index.json
  nuget Microsoft.CodeAnalysis.CSharp.Workspaces 2.3.1
  nuget System.Collections.Immutable 1.3.1
  nuget System.Reflection.Metadata 1.4.2
  nuget Microsoft.Composition 1.0.31

group Analyzers
  storage: none
  source https://api.nuget.org/v3/index.json/
  nuget AsyncUsageAnalyzers
  nuget Gu.Analyzers
  nuget IDisposableAnalyzers
  nuget StyleCop.Analyzers

