source https://api.nuget.org/v3/index.json

nuget CsQuery
nuget FSharp.Data
nuget FSharp.Formatting
nuget FSharp.RDF
nuget Fuchu
nuget FAKE
nuget SourceLink.Fake
nuget Suave
nuget Suave.DotLiquid
nuget Suave.Testing
nuget Unquote