source http://nuget.org/api/v2
source http://teamcity/httpAuth/app/nuget/v1/FeedService.svc/ username: "somebody" password: "secret"
source https://www.nuget.org/api/v2/

nuget Castle.Core 3.3.1
nuget Castle.Windsor 3.3.0