<?xml version="1.0"?>
<appSettings>
  <!--
      Optional remote package repository to mirror packages from.
      Multiple origins can be added using a semicolon delimiter.
    -->
  <add key="packageMirrorTargetUrl" value="http://www.nuget.org/api/v2/" />
  <!--
      When false, only check mirror when package being requested is not
      present in local repository, or all packages with matching ID in local repository
      were previously mirrored. This is an optimization to prevent looking
      up packages that are private or locally hosted and will never be present
      in the upstream repository.

      When true, always check mirror for available packages.
    -->
  <add key="alwaysCheckMirror" value="false" />
  <!--
      Determines if an Api Key is required to push/delete packages from the server.
    -->
  <add key="allowAnonymousPackageChanges" value="true" />
  <!--
      Determines if requests on a local address (::1, 127.0.0.1) are automatically
      granted adminstrative roles. Enabling this flag allows a local user to create
      accounts on a freshly installed system where there is not already an admin account.
    -->
  <add key="handleLocalRequestsAsAdmin" value="true" />
  <!--
      Sets the api key for LocalAdministrator to a fixed value. Useful alternative
      to configuring more complex authentication schemes. When left blank,
      a GUID will be generated and assigned to the LocalAdministrator account
      when handleLocalRequestsAsAdmin is true.
    -->
  <add key="localAdministratorApiKey" value="test" />
  <!--
      Sets the behavior when attempting to push a package when another package
      with the same Id and Version is already present. Valid settings are
      Allow and Deny.
  -->
  <add key="packageOverwriteMode" value="Allow" />
  <!--
      When true, Access-Control-Allow-Origin and related headers will be added to
      requests handled by Web Api allowing web applications to invoke Api methods
      and access content in the response.
    -->
  <add key="enableCrossDomainRequests" value="true" />
  <!--
      Change the path to the packages folder. Default is ~/App_Data/Packages.
      This can be a virtual or physical path.
    -->
  <add key="packagesPath" value="" />
  <!--
      Change the path to where the lucene index is stored. Default is ~/App_Data/Lucene.

      For best performance, the index should be stored on a local disk outside
      of the document root. Storing the index outside of IIS prevents asp.net from
      being sent file change notifications whenever the index is modified.

      This can be a virtual or physical path.
    -->
  <add key="lucenePath" value="" />
  <!--
      Change the path where contents of symbol packages are stored. Default is ~/App_Data/Symbols.

      For best performance, the contents should be stored on a local disk outside
      of the document root. Storing the index outside of IIS prevents asp.net from
      being sent file change notifications whenever the index is modified.

      This can be a virtual or physical path.
    -->
  <add key="symbolsPath" value="" />
  <!--
      Specifies the path to Debugging Tools for Windows utilities used
      to process symbol packages.
    -->
  <add key="debuggingToolsPath" value="" />
  <!--
      When true, enables a FileSystemWatcher that monitors the packagesPath
      and automatically updates the Lucene index when packages are created,
      modified, renamed or deleted.
    -->
  <add key="enablePackageFileWatcher" value="false" />
  <!--
      When true, scans the packagesPath and compares nupkg files with
      the Lucene index and updates the Lucene index to match the file
      system. This setting enables the Lucene index to be kept in sync
      when package files change while this web app isn't running.
    -->
  <add key="synchronizeOnStart" value="true" />
  <!--
      When true, packages that are pushed will be stored in subdirectories
      such as ${packagesPath}\${packageId}\${packageId}.{packageVersion}.nupkg,
      and when false, all packages will be stored in the top level packagesPath
      directory.
    -->
  <add key="groupPackageFilesById" value="true" />
  <!--
      When true, package contents will not be hashed for caching purposes.
      Setting this flag to true cuts down CPU usage while indexing packages
      but will result in NuGet clients downloading packages that have already
      been cached on the local machine. This can be an appropriate tradeoff
      if you rarely restore packages or clear your NuGet cache frequently.
  -->
  <add key="disablePackageHash" value="false" />
  <!--
      When true, package files will not be included in the Lucene index.
      This cuts down disk usage for the Lucene index when you have many
      large packages with lots of files. This will keep Klondike's footprint
      small but means you cannot search for packages based on what file
      paths they contain.
  -->
    <add key="ignorePackageFiles" value="false" />
  <!--
      Controls whether or not to show stack trace information and other details
      to clients when unhandled exceptions occur. Enabling this flag may
      disclose potentially sensitive information to clients.
    -->
  <add key="showExceptionDetails" value="false" />
</appSettings>