framework: net45
source http://nuget.org/api/v2
source http://packages.nuget.org/v1/FeedService.svc/

nuget FubuMVC.Spark == 3.0.0.2189-alpha -pre
nuget FubuMVC.Core == 3.0.0.2189-alpha -pre
nuget FubuMVC.RavenDb 3.0.0.2189-alpha -pre
nuget FubuMVC.LightningQueues 3.0.0.2189-alpha -pre
nuget GhostScriptSharp == 1.3.1.4
nuget log4net 1.2.10.0
nuget Newtonsoft.Json == 4.5.9
nuget NLog == 3.1.0.0
nuget NUnit == 2.6.3.0
nuget NUnit.Runners == 2.6.3.0
nuget Newtonsoft.Json == 4.5.9
nuget Owin 1.0
nuget PetaPoco 5.0.1
nuget PowerThreading 20120420.0.0.0
nuget RavenDB.Client == 2.5.2750
nuget RavenDB.Database 2.5.2750
nuget RavenDB.Embedded 2.5.2750
nuget RavenDB.Server 2.5.2750
nuget RavenMigrations 1.2.0
nuget RestSharp 104.1.0.0
nuget Rhino.Queues 2.2.0.0
nuget Rhino.ServiceBus 3.1.1.0
nuget Rhino.ServiceBus.References 3.1.1.0
nuget RhinoMocks 3.6.1
nuget Selenium.RC == 2.53.0
nuget Selenium.Support == 2.53.0
nuget Selenium.WebDriver == 2.53.0
nuget Selenium.WebDriverBackedSelenium == 2.53.0
nuget Serenity 3.0.0.2189-alpha
nuget Spark 1.8.0.0
nuget Storyteller == 3.0.0.325-rc -pre
nuget System.Spatial 5.6.1.0
nuget Twilio 3.6.1
nuget WindowsAzure.Storage 3.1.0.1
nuget ManagedFusion.Rewriter 3.6.0
nuget Antlr 3.4.1.9004
nuget Microsoft.AspNet.Mvc 5.2.3
nuget Microsoft.AspNet.Razor 3.2.3
nuget Microsoft.AspNet.Web.Optimization 1.1.3
nuget Microsoft.AspNet.WebApi 5.2.3
nuget Microsoft.AspNet.WebApi.Client 5.2.3
nuget Microsoft.AspNet.WebApi.Core 5.2.3
nuget Microsoft.AspNet.WebApi.WebHost 5.2.3
nuget Microsoft.AspNet.WebPages 3.2.3
nuget Microsoft.CodeDom.Providers.DotNetCompilerPlatform 1.0.0
nuget Microsoft.Net.Compilers 1.0.0
nuget Microsoft.Web.Infrastructure 1.0.0
nuget CommonServiceLocator 1.3.0
nuget WebActivatorEx 2.1.0
nuget WebGrease 1.5.2
nuget structuremap 4.0.0.315
nuget structuremap.automocking == 4.0.0.315
nuget StructureMap.MVC5 3.1.1.134
nuget structureMap.web 4.0.0.315
nuget Moq 4.2.1510.2205
