<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- For Goldmine tests -->
    <add key="GoldmineEntityType" value="Proxy" />
    <!-- Google apps API keys -->
    <add key="GoogleAppMigrationWizProjectApiKey-1" value="key1"/>
    <add key="GoogleAppMigrationWizProjectApiKey-2" value="key2"/>
    <add key="GoogleAppMigrationWizProjectApiKey-3" value="key3"/>
    <add key="SendEmails" value="false"/>
    <add key="BitTitanDropBoxAppKey" value="BitTitan" />
    <add key="BitTitanDropBoxSecretKey" value="BitTitan" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>
