source https://www.myget.org/F/dotnet-core/
source https://nuget.org/api/v2

nuget System.Console prerelease
nuget System.Diagnostics.Contracts prerelease
nuget System.Diagnostics.Debug prerelease
nuget System.Diagnostics.Tools prerelease
nuget System.Globalization prerelease
nuget System.IO prerelease
nuget System.IO.FileSystem.Primitives prerelease
nuget System.Reflection prerelease
nuget System.Runtime prerelease
nuget System.Runtime.Extensions prerelease
nuget System.Runtime.InteropServices prerelease
nuget System.Text.Encoding prerelease
nuget System.Text.Encoding.Extensions prerelease
nuget System.Threading prerelease
nuget System.Threading.Tasks prerelease
nuget Microsoft.NETCore.Runtime.CoreCLR.ConsoleHost-x64 prerelease
nuget Microsoft.NETCore.Runtime.CoreCLR-x64 prerelease