source https://nuget.org/api/v2

nuget FSharp.Formatting
nuget NUnit ~> 2
nuget NUnit.Runners ~> 2
nuget FAKE
nuget SourceLink.Fake
nuget CassandraCsharpDriver 3.0.0

github fsharp/FAKE modules/Octokit/Octokit.fsx