type project
owners
    ##Author##
authors 
    ##Author##
projectUrl
    http://github.com/##GitHome##/FSharp.ProjectScaffold
iconUrl
    https://raw.githubusercontent.com/##GitHome##/FSharp.ProjectScaffold/master/docs/files/img/logo.png
licenseUrl
    http://github.com/##GitHome##/FSharp.ProjectScaffold/blob/master/LICENSE.txt
requireLicenseAcceptance
    false
copyright
    Copyright 2015
tags
    ##Tags##
summary
    ##Summary##
description
    ##Description##


