source "http://nuget.org/api/v2"

nuget "AngularJS.Core" "~> 1.2.16" 
nuget "AngularJS.Cookies" "~> 1.2.15" 
nuget "AngularJS.Sanitize" "~> 1.2.16" 
nuget "Angular.UI.UI-Router" "~> 0.2.11" 
nuget "Antlr" "~> 3.5.0.2" 
nuget "bootstrap" "~> 3.1.1" 
nuget "Castle.Windsor" "~> 3.2.1" 
nuget "FontAwesome" "~> 4.2.0" 
nuget "Machine.Specifications" "~> 0.7.0" 
nuget "Machine.Specifications.Should" "~> 0.7.1" 
nuget "Microsoft.AspNet.Identity.EntityFramework" "~> 2.1.0-alpha1" 
nuget "Microsoft.AspNet.Identity.Owin" "~> 2.1.0-alpha1" 
nuget "Microsoft.AspNet.Mvc" "~> 5.1.1" 
nuget "Microsoft.AspNet.Web.Optimization" "~> 1.1.3" 
nuget "Microsoft.AspNet.WebApi" "~> 5.1.1" 
nuget "Microsoft.AspNet.WebApi.Core" "~> 5.1.1" 
nuget "Microsoft.Owin.Host.SystemWeb" "~> 2.1.0" 
nuget "Modernizr" "~> 2.6.2" 
nuget "Modernizr.full" "~> 2.6.2.1"  
nuget "NProgress.js" "~> 0.1.2.0" 
nuget "Placeholders.js" "~> 3.0.2" 
nuget "Respond" "~> 1.4.2" 