<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.DotNet.InternalAbstractions" version="1.0.0" />
  <package id="Microsoft.Win32.Registry" version="4.3.0" />
  <package id="NUnit3TestAdapter" version="3.8.0" />
  <package id="System.ComponentModel.EventBasedAsync" version="4.3.0" />
  <package id="System.Diagnostics.Process" version="4.3.0" />
  <package id="System.Xml.XPath" version="4.3.0" />
  <package id="System.Xml.XPath.XmlDocument" version="4.3.0" />
</packages>