type project
dependencies
  framework: net45
  framework: netstandard2.0
files
    bin/Release/net45/MyProj.Common.dll ==> lib/net45
    bin/Release/netstandard2.0/MyProj.Common.dll ==> lib/netstandard2.0
