git https://github.com/fsprojects/Argu.git 2.0 build:"build.cmd NuGet", Packages: /bin/, OS:windows
git https://github.com/fsprojects/Argu.git 2.0 build:"build.sh NuGet", Packages: /bin/, OS:mono

nuget Argu 2.0