type file
id Paket.PowerShell
authors Paket
projectUrl http://fsprojects.github.io/Paket/
licenseUrl http://fsprojects.github.io/Paket/license.html
description
    PowerShell for Paket
files
    bin\Release\*.dll ==> tools
    bin\Release\*.pdb ==> tools
    init.ps1 ==> tools